body {
    padding: 0;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.titlebar {
  width: 100%;
  height: 40px;
  top: 0;
  text-align: center;
  background-color: #46185f;
  color: white;
  padding-top: 9px;
  font-weight: bold;
}

.sidebar {
  position: absolute;
  left: 0px;
  width: 340px;
  top: 40px;
  bottom: 0;
  overflow-y: auto;
  padding: 20px;
  padding-bottom: 60px;
}


.optionsBar{
  background-color: #fff;
}


.item {
    padding: 10px;
    background-color: #eee;
}

.item:not(:last-child) {
    margin-bottom: 10px;
}

.item-heading {
    font-size: 18px;
    margin-top: 0;
    font-weight: bold;
}

.sort {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 340px;
    background-color: #fff;
    padding: 20px;
}

.sort-option {
    margin-left: 10px;
}

.sort-option.selected {
    border-bottom: 1px solid #ccc;
}

.navbar-default {
    border: 0;
    border-radius: 0;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    margin: -14px -20px 20px;
    padding: 10px 20px 15px;
}

.navbar-brand {
    font-size: 14px;
    font-weight: bold;
}


.row > div {
  background: lightgrey;
  border: 1px solid grey;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #756bb1;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #756bb1;
  cursor: pointer;
}

.filter-ctrl {
  position: absolute;
  top: 50px;
  left: 350px;
  z-index: 1;
}

.filter-ctrl input[type='text'] {
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  width: 100%;
  border: 0;
  background-color: #fff;
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  width: 120px;
}

button {
  background-color: #756bb1;
  border-radius: 5px;
  color: white;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* CSS FOR LEGEND ON MAP */
.map-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  margin-right: 20px;
  font: bold 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  overflow: hidden;
  border-radius: 3px;
}

#features {
  bottom: 25px;
  left: 340px;
  height: 40px;
  margin-top: 0px;
  width: 300px;
  /*overflow-y: scroll;*/

}

#legend {
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 18px;
  height: 200px;
  margin-bottom: 40px;
  width: 150px;
}

.legend-key {
  display: inline-block;
  border-radius: 20%;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

/* CSS FOR engine opacity slider */

#opacityslider1{
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  position: absolute;
  bottom: 65px;
  left: 360px;
  width:160px;
  height:50px;
  font: bold 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#opacityslider2 label {
  display: block;
  margin: 0 0 10px;
}

#opacityslider2 input {
  background-color: transparent;
  display: inline-block;
  width: 100%;
  position: relative;
  margin: 0;
  cursor: ew-resize;
}

/* CSS FOR hydrant opacity slider */
#opacityslider3{
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  position: absolute;
  bottom: 120px;
  left: 360px;
  width:160px;
  height:50px;
  font: bold 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#opacityslider4 label {
  display: block;
  margin: 0 0 10px;
}

#opacityslider4 input {
  background-color: transparent;
  display: inline-block;
  width: 100%;
  position: relative;
  margin: 0;
  cursor: ew-resize;
}

/* CSS FOR hide and show layers button */

#dropdownMenuButton {
  background: #756bb1;
  opacity: 0.8;
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 360px;
  border-radius: 3px;
  width: 120px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-family: 'Open Sans', sans-serif;
}

#menu {
  background: #fff;
  position: relative;
  z-index: 1;
  /*top: 50px;
  left: 360px;*/
 /* border-radius: 3px;
  width: 120px;*/
  border: 0px solid rgba(0, 0, 0, 0.4);
  /*font-family: 'Open Sans', sans-serif;*/
  padding-top: 0px;
}

#menu a {
  font-size: 13px;
  color: #404040;
  display: block;
  margin: 0;
  padding: 0;
  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  text-align: center;
}

#menu a:last-child {
  border: none;
}

#menu a:hover {
  background-color: #f8f8f8;
  color: #404040;
}

#menu a.active {
  background-color: #9e9ac8;
  color: #ffffff;
}

#menu a.active:hover {
  background: #bcbddc;
}

#credit{
  position: absolute;

  width: 400px;
  padding: 20px;
  font-size: 10px;
}

/*/*HELP TIP*/
.help-tip{
    position: absolute;
    top: 18px;
    right: 18px;
    text-align: center;
    background-color: #BCDBEA;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: default;
}

.help-tip:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}

.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{    /* The tooltip */
    display: none;
    text-align: left;
    background-color: #1E2021;
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
}

.help-tip p:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#1E2021;
    right:10px;
    top:-12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
    0% { 
        opacity:0; 
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}
